@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */
.outlined-text {
    -webkit-text-stroke: 1px #22c55e; /* Tailwind green-400 */
    color: transparent;
  }
  

  .swiper-custom-pagination .swiper-pagination-bullet {
    @apply w-2 h-2 bg-white/30 rounded-full transition-all duration-300;
  }
  
  .swiper-custom-pagination .swiper-pagination-bullet-active {
    @apply w-6 bg-green-400;
  }
  






  